@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
 font-family: Roboto;
 margin: 0;
 padding: 0;
}

.main-container{
    display: flex;
    flex-flow: column;
}
.container-header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 0 30em;
    height: 350px;
    
    
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.header-links {
    display: flex;
    gap: 8px;
    align-items:  center;
    
}

.Logo{
    font-size: 16px;
    font-weight: 800;
}
.header ,li {
    list-style-type: none;
    font-size: 10px;
}

.card {
    display: flex;
    gap: 2em;
    margin: 4.5em 0;
    justify-content: space-between;
}

.left-card {
    display: flex;
    flex-flow: column;
    height: 160px;
    width: 280px;
}
.left-card, h {
    font-size: 18px;
}

.left-card-button {
    background-color: #3882f6;
    color: white;
    padding: 2px 15px;
    border-radius: 5px;
    align-self: flex-start;
    font-size: 12px;
    font-weight: 500;
    border-style: solid;
    border-color: transparent;
    flex: 1;
}

.hero-text{
    margin-bottom: 6px;
}

.hero-text, .header-links {
    font-size: 12px;
    color: #e5e7ebb5;
}

.right-card {
    background-color: #e5e7eb60;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 350px;
}




.container-two {
    display: flex;
    flex-flow: column;
    flex: 1;
    align-items: center;
    margin: 0px 60px;
    gap: 30px;
}

.images-container {
    font-size: 12px;
    display: flex;
    gap: 35px;
}

.box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    font-size: 12px;
    gap: 6px;
}

.image-box {
    border: #3882f6;
    border-style: solid;
    padding: 50px;
    border-radius: 8px;
}

.text-box {
    font-size: 12px;
    max-width: 110px;
    text-align: center;
    
}

.container-three {
    background-color: #E5E7Eb;
    display: flex;
    flex-flow: column;
    flex: 2;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin: 4em 8em;
    gap: 8px;
}
.paragraph {
    font-style: italic;
    font-weight: lighter;
    font-size: 26px;
    color: #1f2937;
}

.sign {
    font-weight: 800;
    align-self: flex-end;
    margin-right: 12px;
}

.container-four {
    display: flex;
    flex-flow: column;
    flex: 1;
    align-items: center;
}

.blue-box {
    display: flex;
    width: 500px;
    background-color: #3882f6;
    border-radius: 8px;
    margin: 40px 0;
    padding: 30px 60px;
    justify-content: space-between;
    gap: 30px;
    color: white;
}

.small-text {
    font-size: 8px;
    color: #e5e7ebb5;
}

.right-blue-box {
    align-self: center;
}

.right-blue-box .left-card-button {
    border-color: white;
    font-size: 12px;
    border-width: thin;
}

.container-footer {
    background-color: #1F2937;
    display: flex;
    height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-size: 10px;
    font-weight: lighter;
}


